[Unit]
Description=CuckooPi Clock
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u cuckoo.py > /var/log/script.log 2>&1
WorkingDirectory=/home/pi/Projects/CuckooPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
